In [25]:
%reset -f

In [71]:
import matplotlib.pyplot as plt
plt.style.use('seaborn')

import numpy as np
import pandas as pd

from collections import Counter

import psutil

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler

In [27]:
numJobs = psutil.cpu_count(logical=False)
numJobs

4

In [30]:
df = pd.read_csv('Car_Resale_Price.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df.head(10)

   Age_of_Car  Mileage  MPG  Resale_Price
0           3    35117   22        527070
1           2    35711   27        402390
2           4    36296   19        637613
3           5    38329   21        530279
4           2    36852   22        500307
5           3    41933   18        658046
6           4    36295   31        306479
7           8    39445   18        539277
8           3    37562   33        249914
9           6    32583   21        507295

## NOTE: We'll skip most of the data exploration

In [61]:
data = df.drop(['Resale_Price'], axis=1)
target = df['Resale_Price']

In [62]:
x, xt, y, yt = train_test_split(data, target)

In [63]:
theCols = [i for i in x.columns]

In [64]:
stdScaler = StandardScaler()

stdScaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [65]:
x = stdScaler.transform(x)
xt = stdScaler.transform(xt)

## Linear Regression

In [66]:
baseModel = LinearRegression()

baseModel.fit(x,y);

In [67]:
yp = baseModel.predict(x)

In [68]:
ytp = baseModel.predict(xt)

In [76]:
# trainScore = round(mean_absolute_error(y_true=y, y_pred=yp), 4)
# print('\n\n\nTrain Score:', trainScore)

# # =================================================

# testScore = round(mean_absolute_error(y_true=yt, y_pred=ytp), 4)
# print('\nTest Score:', testScore, '\n')

In [78]:
# trainScore = round(mean_squared_error(y_true=y, y_pred=yp), 4)
# print('\n\n\nTrain Score:', trainScore)

# # =================================================

# testScore = round(mean_squared_error(y_true=yt, y_pred=ytp), 4)
# print('\nTest Score:', testScore, '\n')

In [75]:
trainScore = round(r2_score(y_true=y, y_pred=yp), 4)
print('\n\n\nTrain Score:', trainScore)

# =================================================

testScore = round(r2_score(y_true=yt, y_pred=ytp), 4)
print('\nTest Score:', testScore, '\n')

Train Score: 0.9313

Test Score: 0.9308

## Random Forest

In [96]:
baseModel = RandomForestRegressor()

baseModel.fit(x,y);

In [97]:
yp = baseModel.predict(x)

trainScore = round(r2_score(y_true=y, y_pred=yp), 4)
print('\n\n\nTrain Score:', trainScore)

# =================================================

ytp = baseModel.predict(xt)

testScore = round(r2_score(y_true=yt, y_pred=ytp), 4)
print('\nTest Score:', testScore, '\n')

Train Score: 0.9861

Test Score: 0.9018

#### NOTES

In [92]:
p = list(range(1,10))
p

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
pr = p[:6]
pt = p[6:]

pr, pt

([1, 2, 3, 4, 5, 6], [7, 8, 9])

In [90]:
pr = p[:3] + p[6:]
pt = p[3:6]

pr, pt

([1, 2, 3, 7, 8, 9], [4, 5, 6])

In [91]:
pr = p[3:]
pt = p[:3]

pr, pt

([4, 5, 6, 7, 8, 9], [1, 2, 3])

In [94]:
t1, t2, t3 = 0.98, 0.97, 0.776

In [95]:
t1

0.98